.itemslist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listitle {
    font-weight: bold;
}

.listitle div {
    display: block;
    float: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 3px 5px;
    width: 20%;
}

.divitem1 {
    display: block;
    float: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 3px 5px;
    width: 20%;
}

.divitem {
    display: block;
    float: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 3px 5px;
    width: 80%;
}